.rules_table {
	table-layout: fixed;
    border-collapse: collapse;
	width: calc(100% - 0px);
    overflow: hidden;      
}

.rules_table th {
	font-size: 0.8em;
    text-align: center;
	overflow: hidden;
    white-space: nowrap;  	
	background-color: #cfcfcf;
	text-overflow: ellipsis; 
	padding-left: 12px;
	height: 0px;	
}

.rules_table th:first-child {
      width: 20px;
}

.rules_table th:last-child {
    width: 20px;
}

.rules_table td {
    border: 1px solid #ececec;
	text-align: center;
	font-size: 0.8em;
    padding-left: 2px;
    overflow: hidden;
    white-space: nowrap;    
    text-overflow: ellipsis;  
}

.rules_table td:nth-child(1) {
    text-align: left;  
}
  
.rules_table tr:nth-child(even) {
    background-color: #e6e6e6;
}

.rules_table input{
	max-width: 100%; 
    width: 100%;
}

.selected {
    background-color: #000000b4 !important;
    color: white
}

.rules_error {
    color: red;
    font-size: 1.2em
}